<div class="latest-products">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>{{  hotel.titre }}</h2>
					<p class="text text-muted">
						{% for chambre in hotel.chambres %}
							<em class="text-muted text-primary text-italic">
								#{{ chambre.titre }}
								{{ chambre.price | number_format(0,',', ' ') }}€
							</em>
							<a href="{{ path('front_chambre',{'id': chambre.id}) }}" <i class="fa fa-angle-right"></i>>Voir Hotel </a>
						{% endfor %}
					</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="product-item">
					<a href="{{ hotel.image }}"><img src="{{ hotel.image }}" alt=""></a>
					<div class="down-content">
						<small>
							<strong title="Available"><i class="fa fa-calendar"></i> {{ hotel.lieu }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
							<strong title="Nights"><i class="fa fa-cube"></i> {% for c in hotel.chambres %} {{ c.nbplace }} {% endfor %}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
							<strong title="Flight included"><i class="fa fa-plane"></i>vol inclus </strong>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{#  <div class="card" style="width: 18rem;">
	<img src="{{ hotel.image }}" alt="" class="card-img-top" width="100">
	<div class="card-body">
		<h5 class="card-title">
			{{ hotel.titre }}
		</h5>
		<div class="card-title text-primary" style="font-weight: bold;font-size:1.5rem;">
			{% if hotel.promo %}
				<div class=" text text-warning">Promo !</div>
			{% endif %}
		</div>
		<p class="text text-muted">
			{{ hotel.lieu }}
		</p>
		<p class="text text-muted">
			{% for chambre in hotel.chambres %}
				<em class="text-muted text-primary text-italic">
					#{{ chambre.titre }}
					{{ chambre.price | number_format(0,',', ' ') }}€
				</em>
				<a href="{{ path('front_chambre',{'id': chambre.id}) }}">Voir Hotel</a>
			{% endfor %}
		</p>
	</div>
</div>
#}

