<div class="card" style="width: 18rem;">
	<img src="{{ hotel.image }}" alt="" class="card-img-top" width="100">
	<div class="card-body">
		<h5 class="card-title">
			{{ hotel.titre }}
		</h5>
		<div class="card-title text-primary" style="font-weight: bold;font-size:1.5rem;">
			{% if hotel.promo %}
				<div class=" text text-warning">Promo !</div>
			{% endif %}
		</div>
		<p class="text text-muted">
			{{ hotel.lieu }}
		</p>
		<p class="text text-muted">
			{% for c in hotel.chambres %}
				<em class="text-muted text-primary text-italic">
					#{{ c.name }}
					{{ c.price | number_format(0,',', ' ') }}€
				</em>
			{% endfor %}
		</p>
	</div>
</div>
